{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/tools.cli {:mvn/version "1.0.219"}
        io.github.clojure/tools.build {:mvn/version "0.10.3"}
        babashka/process {:mvn/version "0.5.22"}}
 :aliases
 {:run {:main-opts ["-m" "noahtheduke.clein"]}
  :repl {:extra-deps {nrepl/nrepl {:mvn/version "1.0.0"}
                      com.bhauman/rebel-readline {:mvn/version "0.1.4"}
                      cider/cider-nrepl {:mvn/version "0.42.1"}}
         :main-opts  ["-m" "nrepl.cmdline"
                      "--interactive"
                      "--middleware" "[cider.nrepl/cider-middleware]"
                      "-f" "rebel-readline.main/-main"]}
  :clein/build {:lib io.github.noahtheduke/clein
                :main noahtheduke.clein
                :version "resources/CLEIN_VERSION"
                :url "https://github.com/noahtheduke/clein"
                :license {:name "MPL-2.0"
                          :url "https://mozilla.org/MPL/2.0"}}
  :prep {:deps {io.github.clojure/tools.build {:mvn/version "0.10.3"}}
         :ns-default prep}}}
